body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #f8cbe4;
  border: thin solid #fbaed8;
}

textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  resize: none;
  background-color: #f8cbe4;
}

textarea:focus {
  outline: none;
}

.save {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fed78a;
  border: solid #fcc964;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
}

.save:hover {
  background-color: #ffdfa4;
  cursor: pointer;
}

.note {
  background-color: #fed78a;
  border: thin solid #fcc964;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
  white-space: pre-wrap; /* keep line spacing around text */
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  color: #f56eb8;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(246, 241, 241);
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(246, 241, 241);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
}

.search input:focus {
  outline: none;
}

.search-icons {
  color: rgb(110, 110, 110);
}